/* jumbotron.css */

#jumbotron-container {
    width: 100%;
    height: 480px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-top: 80px;
}

#jumbotron {
    width: 100%;
}

#jumbotron-timer {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
}
